@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", sans-serif;
}


body {
    background-color: black;
    height: 160vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.page-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 95%;
    gap: 20px;
}

#navigationbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationbutton {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: black;
    border-radius: 20px;
    transition: all 0.5s ease;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 5px 0px 5px 0px;
}

.navigationbutton:hover {
    filter: invert();
}

hr {
    background-color: white;
    color: white;
    border: 0.5px solid white;
    width: 100%;
}

.text {
    font-size: 16px;
    color: white;
}

.subtext {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.title {
    font-size: 38px;
    color: white;
    margin: 15px 0 15px 0;
}

a {
    color: rgba(255, 255, 255, 0.75);
}

a:hover {
    color: rgba(255, 255, 255);
}

.project {
    width: 75px;
    filter: grayscale(100%);
    transition: all .4s ease-in-out;
}

.project:hover {
    filter: grayscale(0%);
}

.projects {
    display: flex;
    gap: 20px;
    align-items: center;
}

.socials {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.sociallink {
    display: flex;
    gap: 5px;

}

.socialicons {
    width: 18px;
    border-radius: 50%;
    margin-bottom: 10px;
}
